@model AplicatieMDS.Models.Message

<div class="card">
    <form onsubmit="return sendMessage(this);">
        <div class="card-body">
            <input type="hidden" name="ChatId" value="@Model.ChatId" />

          
            <br />
            <div style="height:40px; width:100%;margin-bottom:20px">
            <textarea class="form-control" name="Content" class="rounded-3 w-100 " style="height:60px;border-radius:20px;padding-right:30px;line-height:13px;" ></textarea>
            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})
                <button class="btn " style="position:absolute; bottom:17.5px; right:10px;color:black;font-size:30px;" type="submit">➤</button>
            </div>
        </div>
    </form>
</div>
